{% load i18n %}

<p class="text-muted ml-2"><span class="text-danger pr-1">*</span>{% trans "当前只显示最后10条投递日志" %}</p>

<div id="view-deliver-log">
<table class="table table-sm table-hover text-center">
  <thead>
    <tr>
      <th scope="col">{% trans "时间" %}</th>
      <th scope="col">{% trans "源" %}</th>
      <th scope="col">{% trans "附件名称" %}</th>
      <th scope="col">{% trans "附件大小" %}</th>
      <th scope="col">{% trans "状态" %}</th>
    </tr>
  </thead>
  <tbody>
    {% verbatim %}
    <tr v-for="log in deliver_log">
      <th scope="row">{{ log.date }}</th>
      <td>{{ log.spider_display_name }}</td>
      <td>{{ log.file_name }}</td>
      <td>{{ log.file_size }}</td>
      <td>
        <span :class="log.status_class">{{ log.status_display }}</span>
      </td>
    </tr>
    {% endverbatim %}
  </tbody>
</table>
</div>
