<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'articles/css/share.css' %}">
    <style>
        .global-header .main-wrap a {
            text-decoration: none;
            font-size: larger;
            color: #FFF;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="global-header">
    <div class="main-wrap">
        <a href="/" target="_self" title="MoEar">MoEar</a>
    </div>
</div>
<div class="main-wrap content-wrap">
    <div class="headline">
        <div class="img-wrap">
            <h1 class="headline-title">{{ article.title }}</h1>
            <img src="{{ cover_image }}" alt="">
            <div class="img-mask"></div>
        </div>
    {{ content|safe }}
    </div>
</div>
</body>
</html>